<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450903665496-67b6bqv38j2edkoltjmn86j14mn2quqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450903665496-67b6bqv38j2edkoltjmn86j14mn2quqj</string>
	<key>API_KEY</key>
	<string>AIzaSyCc5pnC3b3ME1oPq4JnKEdsD3eFLql9N8I</string>
	<key>GCM_SENDER_ID</key>
	<string>450903665496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.task</string>
	<key>PROJECT_ID</key>
	<string>task-f507d</string>
	<key>STORAGE_BUCKET</key>
	<string>task-f507d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450903665496:ios:b647d5bdc31a891203932d</string>
</dict>
</plist>